{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h2>Update a TV-SHOW</h2>

    {{ form_start(serieForm) }}
    {{ form_widget(serieForm) }}
    <button>Update a serie !</button>
    {{ form_end(serieForm) }}

{% endblock %}

