<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Series{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
    <link rel="icon" href="{{ asset('images/icon.png') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="container">

    <header>
        <img src="{{ asset('images/logo.svg') }}">
        {% include 'views/nav/nav.html.twig' %}
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>{% include 'views/nav/nav.html.twig' %}</footer>
</div>
</body>
</html>
